*
!.gitignore
!README.md
!*/
!*/*/
!*/*/*/
!*/*/*/*/
!*/*/*/*/*/
!*/*/*/*/*/*/
!*/*/*/*/*/*/*/
!*/*/*/*/*/*/*/*/
!*/*/*/*/*/*/*/*/*/
!*/*/*/*/*/*/*/*/*/*/
!*/*/*/*/*/*/*/*/*/*/*/
!*/*/*/*/*/*/*/*/*/*/*/*/
!*/*/*/*/*/*/*/*/*/*/*/*/*/
!*/*/*/*/*/*/*/*/*/*/*/*/*/*/
!*.java
!*.xml
!*.html
!*.jsp
!*.c
!*.cs
!*.css
!*.pde
!*.txt
!*.sql
!*.clp
!*.emx